li {
  padding: 2rem;
}

.button {
  border: var(--khaki) 1px solid;
  border-radius: 20px;
  padding:0.6rem 1.3rem !important;
  color: var(--pale-green) !important;
  font-weight:600 ;
}

.bg-light {
  background-color: var(--white) !important;
}


.navbar-expand-lg{
  padding: 0rem 1rem !important;
}
