<div class="login-wrapper">
  <img class="image" src="assets/images/login.png" alt="">
  <div class="form">
  <form [formGroup]="form" (submit)="onLogin()">
    <div class="form-group">
      <label style="margin-top: 30px" id="emailTitle" for="email">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group" >
      <label class="pass" for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder=" Enter Password">
    </div>

    <button type="submit" class="btn">Login</button>
  </form>
  <br>
  <p>Do not have a account with us❓</p>
  <a class="btn" routerLink="/signup">Sign Up</a>
</div>
    

</div>
