#dashboard {
  height: 100vh;
  /* background-color: #00022e; */
  border-radius: 20px;

}

/* .wrapper{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2.5fr 6fr;
} */

.sidebar{
  color: var(--white);
  padding: 2rem;

}

.sidebar .folders{
  background-color: antiquewhite;
  padding: 0.4rem;
  width: 100%;
}

.sidebar .folders {
  color: #00022e;

  /* flex-direction: column;
  align-items: flex-start;
  justify-items: center; */
}

ul li a{
  margin-right: 1rem;
  margin-left: 1rem;
}
