<section id="dashboard">

    <div class="form-card" [ngClass]="formDisplay" >
      <div class="folders">
        <form [formGroup]= 'form' (submit)="onSubmitFolder()">
          <div class="form-group">
            <label for="folder">Create Folder</label>
      <input type="text" class="form-control" id="folder" formControlName="folder_title" aria-describedby="folder" placeholder="Enter Folder name">
          </div>
          <button type="submit" class="btn" *ngIf="isEditMode">Update</button>
          <button type="submit" class="btn" *ngIf="!isEditMode">Create</button>
          <button class="btn btn-primary" (click)="onCloseForm()">Close</button>
        </form>
      </div>
    </div>

    <!-- <ul *ngFor= "let folder of folders">
      <li >
          <p>{{folder.folder_title}}</p>
          <div>
            <a class="btn btn-primary " [routerLink]="['/edit-folder-name', folder._id]" >Edit</a>
            <button class="btn btn-danger" (click)="onDelete(folder._id)">Delete</button>
            <a class="btn btn-primary " [routerLink]="['/folder', folder._id]" >Open</a>
          </div>



      </li>
    </ul> -->

    <div class="jumbotron">
      <button class="btn btn-primary" (click)="onOpenForm()">Create Folder</button>
    </div>

    <div class="wrapper">
      <div class="folder " *ngFor= "let folder of folders" >
        <div class=" title-black">
          <p class="folder_title">{{folder.folder_title}}</p>
          <a class="btn btn-primary " [routerLink]="['/folder', folder._id]" >Open</a>
          <a class="btn btn-primary " [routerLink]="['/edit-folder-name', folder._id]">Edit</a>
          <img src="https://img.icons8.com/ios/35/000000/edit--v1.png" [routerLink]="['/edit-folder-name', folder._id]"/>
          <!-- <button class="btn btn-danger" (click)="onDelete(folder._id)">Delete</button> -->
          <img (click)="onDelete(folder._id)" src="https://img.icons8.com/ios/35/000000/delete-forever--v1.png"/>
        </div>
      </div>
    </div>

<!--
    <footer>
      <img src="assets/images/svg.png" alt="">
    </footer> -->
</section>
