#dashboard {
  height: 100vh;
  /* background-color: #00022e; */
  border-radius: 20px;
  margin-top: 2rem;

}


.display-form {
  display: flex;
  justify-content: center;
  transition: 0.4s;
}

.hide-form {
  display: none;
}


.display-form .form-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(to right, #f9f5d0, #F0E68C);
  background: linear-gradient(to right,#f9f5d0, #F0E68C);

  border-radius: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  height: 200px;
  justify-content: center;
  width: 50rem;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

 .form-control {
  background-color: #f9f5d0;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

  width: 30rem;
  border-radius: 30px;
}

.display-form .btn {
  width: 50%;
  margin-bottom: 0.3rem;
  border-radius: 10px;
  background-color: var(--pale-green);
  color: var(--white);
  border: none !important;
  font-weight: 550;
}

.btn:active{
  transform: scale(0.85, 0.85);
}

label{
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
  opacity: 0.6;
}


.form-card{

  width: 20rem;
  z-index: 999;
  background-color: antiquewhite;
}













.title-black {
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
}

footer img{
  width: 100%;
  height: 50%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media only screen and (max-width: 600px){
  .wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
  .folder{
    width: 200px;
  }
}
