#bookmark{
    height: 100vh;
    /* background-color: #00022e; */
    border-radius: 20px;
    margin-top: 2rem;
}

.display-form .form-card {
  height: 500px;
}

.display-form p {
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
  opacity: 0.6;
}

/* form
{
  background-color: antiquewhite;
  padding: 2rem;

}



.display-form {
  display: block;
  position: relative;
  -webkit-animation: slide 1s ease forwards;
} */

/* .hide-form {
  display: none;
} */

