<form [formGroup]= 'form' (submit)="onSubmitBookmark()" [ngClass]='[formDisplay]'>
  <div class="form-group">
    <p style="text-align: center;">Add Bookmark</p>
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="bookmark_title" aria-describedby="bookmark_title" placeholder="Enter Bookmark's name">

    <label for="href">Location(URL)</label>
    <input type="text" class="form-control" id="href" formControlName="href" aria-describedby="href" placeholder="Enter URL">

    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description" aria-describedby="description" placeholder="Enter Description">

  </div>

  <button type="submit" class="btn btn-primary" *ngIf="!isEditMode">Create</button>
  <button type="submit" class="btn btn-primary" *ngIf="isEditMode">Update</button>
  <button type="button" class="btn btn-primary" (click)= "onCloseForm()">Close</button>
</form>

<button class="btn btn-primary"  (click)= "onOpenForm()">Create bookmark</button>

<ul *ngFor= "let bookmark of bookmarks">
  <li >
      <a [href]="bookmark.href" target="_blank">{{bookmark.bookmark_title}}</a>
      <div>
        <a class="btn btn-primary " [routerLink]="['./edit-bookmark', bookmark._id]" >Edit</a>
        <button class="btn btn-danger" (click)="onDelete(bookmark._id)">Delete</button>
      </div>



  </li>
</ul>
